/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  /* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  /* Size */
  --size-border-radius: 4px;
  /* Animation */
  --animation-duration: 300ms;
}
/* Universal tags */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}
a {
  text-decoration: none;
  color: var(--color-white);
}
ul {
  list-style: none;
  padding-left: 0;
}
button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}
h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}
h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}
p {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  color: var(--color-white);
  padding: 16px;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1; /* navbar 를 가장 위로 위치시킴*/
}
#navbar.navbar--dark {
  background-color: var(--color-pink);
  padding: 8px;
}
.navbar__menu {
  display: flex;
}
.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
}
.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}
.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}
.navbar__menu__item:hover {
  background-color: var(--color-dark-pink);
}
.navbar__toggle-btn {
  position: absolute;
  top: 25px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

/* Home */
#home {
  background: url('images/home-background.png') center/cover no-repeat;
  padding: 40px;
  padding-top: 120px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
}
.home__title,
.home__description {
  color: var(--color-white);
}
.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
  color: var(--color-white);
  text-transform: uppercase;
}
/* Section common */
.section {
  text-align: center;
  padding: 50px;
  margin: auto;
}
.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About me */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px;
}
.major {
  width: 200px;
  font-weight: var(--weight-semi-bold);
}
.major__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  line-height: 170px;
  margin: auto;
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
}
.major__icon i {
  transition: all var(--animation-duration);
}
.major__icon:hover i {
  color: var(--color-pink);
  transform: rotate(-30deg) scale(1.1);
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}
.major__description {
  margin-top: 8px;
  font-size: var(--font-small);
}
.school {
  display: flex;
  align-items: center;
}
.school__description {
  margin: 0 16px;
  text-align: left;
}
.school__name,
.school__period {
  color: var(--color-light-grey);
}
.school__name {
  font-size: var(--font-small);
}
.school__period {
  font-size: var(--font-micro);
}
.school img {
  width: 100px;
  height: 50px;
}

/* Skills */
#skills {
  background: var(--color-yellow);
}
.skill {
  margin-bottom: 32px;
}
.tools,
.etc {
  padding: 20px;
}
.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-white);
  margin: 20px 0;
}
.skillset__title {
  color: var(--color-white);
  font-weight: var(--weight-semi-bold);
}
.skillset__left {
  padding: 40px;
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
}
.skillset__right {
  flex-basis: 40%;
}
.skill__description {
  display: flex;
  justify-content: space-between;
}
.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}
.skill__value {
  width: 70%;
  height: 3px;
  background-color: var(--color-orange);
}
.tools {
  background-color: var(--color-grey);
}

/* work */
#work h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
}
.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
}
.work__categories {
  margin: 40px;
}
.category__btn.active,
.category__btn:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
}
.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}
.category__count {
  border: 1px solid var(--color-orange);
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  line-height: 24px;
  /* category__count는 span tag 인데 span은 inline element라 자신의 content 만큼 공간을 차지. */
  /* display : inline-block으로 설정해서 block 단위로 content 사이즈에 상관없게 함 */
  display: inline-block;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--animation-duration) ease-out;
}
.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-in;
}
.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}
.project {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
}
.project.invisible {
  display: none;
}
.project__img {
  max-width: 100%;
  max-height: 100%;
}
/* project__description은 project에 들어가있기 때문에 원래 다큐멘트 플로우에는 공간을 차지하게 되어있음 */
/* 원래 들어있던 박스에서 벗어나 위치를 바꾸는 것은 position : absolute */
/* relative 는 원래 자리는 그대로 차지하고 유지하는 상태로 움직임 */
/* absolute는 근접한 부모노드 중 기본값을 static을 사용하지 않는 부모를 찾아감 */
/* description의 부모인 project는 아무것도 지정하지 않아서 default로 static 사용 */
.project__description {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
  transform: translateY(10px);
}
.project__description h3 {
  color: var(--color-white);
}
.project__description h3:after {
  content: '';
  width: 25px;
  height: 2px;
  background-color: var(--color-dark-white);
  display: block;
  position: relative;
  left: 50%;
  margin-left: -12px;
  margin-top: 8px;
}
.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}
/* Testimonials */
#testimonials {
  background-color: var(--color-light-white);
}

.testimonials {
  margin: 40px;
}
.testimonial {
  display: flex;
  margin: 32px 0;
}
.testimanial__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.testimanial__avatar:nth-child(odd) {
  margin-right: 40px;
}
.testimanial__avatar:nth-child(even) {
  margin-left: 40px;
}
.testimonial__speech-bubble {
  padding: 18px;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
}
.testimonial__speech-bubble p {
  color: var(--color-light-grey);
}
.testimonial__speech-bubble a {
  color: var(--color-pink);
}
/* Contact */
#contact {
  background-color: var(--color-pink);
}
.contact__title {
  margin: 32px;
}
.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}
.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
}
.contact__links i {
  transition: all var(--animation-duration) ease-in;
}
.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-yellow);
}
/* Arrow up */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 50px;
  background-color: var(--color-pink);
  color: var(--color-white);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  /* display: none; display는 완전히 사라졌다 다시 나타나기 때문에 애니메이션이 적용안됨*/
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in;
}
.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }
  .about__majors {
    flex-direction: column;
    align-items: center;
  }
  .major {
    margin-bottom: 38px;
  }
  .skillset {
    flex-direction: column;
  }
  .project {
    flex-grow: 1;
  }
  .testimanial__avatar {
    width: 80px;
    height: 80px;
  }
}
